<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
      crossorigin="anonymous"
    />
    <title>Kafka Live</title>
  </head>
  <body>
    <div class="container">
      <div class="poruke">
        <h1>Kafka Live Cast</h1>

        <form id="tidForm" class="pb-4">
          <label for="tidInput">Enter TID:</label>
          <input
            type="text"
            id="tidInput"
            name="tid"
            placeholder="Enter tid..."
            class="form-control"
          />
          <input
            type="text"
            id="messageInput"
            name="message"
            placeholder="Enter message..."
            class="form-control"
          />
          <br />

          <input type="submit" value="Submit" class="btn btn-primary" />
          <button id="stopConsumerBtn" type="button" class="btn btn-danger">
            Stop Consumer
          </button>
          <button id="sendButton" type="button" class="btn btn-secondary">
            Send Message
          </button>
          <button id="doScreenShot" type="button" class="btn btn-secondary">
            Screenshot
          </button>
        </form>

        <div class="messages">
          <div class="accordion" id="accordionExample">messages</div>
          <!-- Accordion container -->
        </div>
      </div>
      <div class="scrshot">Screeen</div>
    </div>

    <script src="/socket.io/socket.io.js"></script>
    <script src="js2.js"></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
