* {
    /* border: 1px solid red; */
}

img {
    height: 500px;
    width: auto;
    border-radius: 20px;
}
.accordion-container {
    max-height: 200px; /* Podesi ovo na visinu koja odgovara otprilike 5 stavki */
    overflow-y: auto;
}

/* .message {
        color: rgb(46, 46, 46);
        font-weight: 100;
        font-size: 12px;
} */
